<div class="container-fluid bg-dark">
  <div class="row p-1 align-items-center">
    <div class="col-sm">
      <div class="row">
        <button *ngIf="afAuth.user | async as user; else showLogin" type="button" class="p-0 btn btn-primary" (click)="logout()">
            <img class="rounded align-self-center" [src]="user.photoURL" />
          <p class="float-right m-0 mt-1 p-2">Logout</p>
        </button>
        <ng-template #showLogin>
          <button type="button" class="btn btn-danger" (click)="login()">Login with Google</button>
        </ng-template>
      </div>
    </div>
    <div class="col-l">
      <div class="row">
        <h1 class="text-light p-0">{{ title }}</h1>
      </div>
    </div>
    <div class="col-sm">

    </div>
  </div>
</div>

<router-outlet></router-outlet>
