<div class="container-fluid bg-dark">
  <div class="row p-1 align-items-center">
    <div class="col-sm">
      <div class="row">
        <div>
          <button (click)="login()">Login with Google</button>
        </div>
        <div >
          <img class="img-fluid" src="../assets/img.png" />
          <p>Hello {{ data.i.user | json }}!</p>
          <button (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
    <div class="col-l">
      <div class="row">
        <h1 class="text-light p-0">{{ title }}</h1>
      </div>
    </div>
    <div class="col-sm">

    </div>
  </div>
</div>

<router-outlet></router-outlet>
